<ion-card (click)="openModal()">
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/users/{{titulo}}.PNG">
    </ion-avatar>
    <ion-card-header>
        <ion-card-title style="font-weight: bold;">{{titulo}}</ion-card-title>
        <ion-card-subtitle>{{subtitulo}}</ion-card-subtitle>
    </ion-card-header>
    <div class="alinear" slot="end">
    <ion-card-subtitle style="color: #01DF3A;" slot="end">{{hora}}</ion-card-subtitle>
    <span slot="end" ios="ios-more" md="md-more" class="green">{{numero}}</span>
  </div>
  </ion-item>
</ion-card>
