span.green {
    background: #01DF3A;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em;
    margin-top: 7px;
}

.alinear {
    text-align: center;
}