<ion-app>
  <ion-split-pane *ngIf="conectado">
    <ion-menu >
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>         
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages;last as last">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" (click)="!last || logout()">
              <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
              <ion-label>
                {{ 'Menu.'+p.title | translate }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>

  <app-login  *ngIf="login && !conectado" (conectado)="conectar($event)" (toRegistro)="toRegistro()"></app-login>
  <app-registro *ngIf="registro && !conectado" (conectado)="conectar($event)" (toLogin)="toLogin()"></app-registro>
  
</ion-app>