<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'Eventos' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment  (ionChange)="segmentChanged($event)" value="Asistir">
      <ion-segment-button value="Asistir" style="font-size:11px;">
        Proximos eventos
      </ion-segment-button>
      <ion-segment-button value="Creados" style="font-size:11px;">
        Mis Eventos
      </ion-segment-button>
      <ion-segment-button value="Pendientes" style="font-size:11px;">
        Pendientes
      </ion-segment-button>
    </ion-segment>

    <!-- Lista de eventos a los que asistirá el usuario -->
    <ion-list *ngIf="showCreados">
      <ion-card *ngFor="let item of items;">
        <ion-card-header>
            <ion-card-title>{{item.event}}</ion-card-title>
            <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img [src]="'../../assets/events/'+ item.event + '.jpg'" style="margin:auto;width:100%;height: 150px;"/>
          <br>
          {{item.description}}
          <br>
          <div style="text-align: center">
          <ion-button size="medium" fill="outline" style="justify-content: center">
              <ion-icon ios="ios-heart" md="md-heart"></ion-icon>
              <ion-label>{{item.numLikes}}</ion-label>
            </ion-button>
            <ion-button size="medium" fill="outline" style="justify-content: center">
              <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
              <ion-label>{{item.numComents}}</ion-label>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <!-- Lista de eventos creados por el usuario -->
    <ion-list *ngIf="showAsistir">
        <ion-card *ngFor="let item of items2;">
          <ion-card-header>
              <ion-card-title>{{item.event}}</ion-card-title>
              <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <img [src]="'../../assets/events/'+ item.event + '.jpg'" style="margin:auto;width:100%;height: 150px;"/>
            <br>
            {{item.description}}
            <br>
            <div style="text-align: center">
              <ion-button size="medium" fill="outline" style="align-items: center">
                  <ion-icon ios="ios-heart" md="md-heart"></ion-icon>
                  <ion-label>{{item.numLikes}}</ion-label>
                </ion-button>
                <ion-button size="medium" fill="outline" style="align-items: center">
                  <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
                  <ion-label>{{item.numComents}}</ion-label>
                </ion-button>
              </div>
          </ion-card-content>
        </ion-card>
      </ion-list>

      <!-- Lista de eventos pendientes de aceptacion del usuario -->
    <ion-list *ngIf="showPendientes">
        <ion-card *ngFor="let item of items3; let i = index">
          <ion-card-header>
              <ion-card-title>{{item.event}}</ion-card-title>
              <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <img [src]="'../../assets/events/'+ item.event + '.jpg'" style="margin:auto;width:100%;height: 150px;"/>
            <br>
            {{item.description}}
            <br>
            <div style="text-align: center">
              <ion-button size="medium" fill="outline">
                  <ion-icon ios="ios-heart" md="md-heart" style="align-items: center"></ion-icon>
                  <ion-label>{{item.numLikes}}</ion-label>
              </ion-button>
              <ion-button size="medium" fill="outline" style="align-items: center">
                  <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
                  <ion-label>{{item.numComents}}</ion-label>
              </ion-button>
            </div>
            <br>
            <div style="text-align: center">
              <ion-button color="success" (click)="acceptEvent(item, i)"><ion-icon name="checkmark-circle"></ion-icon>Aceptar</ion-button>
              <ion-button color="danger" (click)="discardEvent(i)"><ion-icon name="close-circle"></ion-icon>Rechazar</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink='/crear-evento'>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
