<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        {{ 'Menu.Muro'| translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let item of items; index as i">
        <app-muro-publicacion  [publicacion]="item"></app-muro-publicacion>
        <div *ngIf="i%3 == 2">
          <app-muro-anuncio></app-muro-anuncio>
        </div>
    </div>    
  </ion-list>  
</ion-content>
