<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'Menu.Anuncios' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="onAnuncioForm" class="list-form">

        <ion-item>
            <!--ion-icon name="pencil" item-start></ion-icon-->
            <ion-textarea formControlName="descri" [(ngModel)]="descripcion" name="descripcion" class="input_message" placeholder="Añade aquí una descripción..."></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-icon name="image" item-start></ion-icon>
            <ion-label>&nbsp;</ion-label>
            <ion-input type="file" accept="image/*"></ion-input>
        </ion-item>

        <ion-item-group>
          <ion-item-divider>
            <ion-label color="primary"><h1>{{ 'Anuncios.Datos bancarios' | translate }}</h1></ion-label>
          </ion-item-divider>
            
          <ion-item>
              <ion-input placeholder="{{ 'Anuncios.Nº de tarjeta' | translate }}" clearInput></ion-input>
          </ion-item>
          <ion-item>
              <ion-input placeholder="{{ 'Anuncios.Nº de CVV' | translate }}" clearInput></ion-input>
          </ion-item>
        </ion-item-group>
      </form>

      <div>
          <ion-button icon-left size="medium" expand="full" shape="round" color="success" (click)="anyadirAnuncio()" tappable>
            <ion-icon name="cloud-upload"></ion-icon>
            &nbsp;{{ 'Anuncios.Crear' | translate }}
          </ion-button>
      </div>

</ion-content>
