<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>{{p.image}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start"><img src="assets/users/user1.PNG"></ion-avatar>
    <ion-label>{{p.title}}</ion-label>
  </ion-item>
  
  <ion-grid>
    <ion-row align-items-center>
      <ion-col>
          <ion-slides pager="true" [options]="slideOpts">
              <ion-slide><img src="assets/events/{{p.image}}.jpg" style="margin:auto;width:100%;height: 250px;" /></ion-slide>
              <ion-slide><img src="assets/events/{{p.image}}.jpg" style="margin:auto;width:100%;height: 250px;" /></ion-slide>
              <ion-slide><img src="assets/events/{{p.image}}.jpg" style="margin:auto;width:100%;height: 250px;" /></ion-slide>
          </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ipsum maxime ipsam minus mollitia harum ducimus possimus aliquid exercitationem labore laudantium, impedit in hic quidem quam! Quisquam eos praesentium sed.
        </ion-label>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <div id="map" class="map"></div>
      </ion-col>
    </ion-row>

    

    <ion-row align-items-center>
      <div style="margin: auto;">
        <ion-col>
            <ion-button size="large" fill="outline" (click)="apuntar()">
                <ion-icon ios="ios-walk" md="md-walk"></ion-icon>
                <ion-label *ngIf="!apuntado">{{ 'Muro.Modal.Me apunto!' | translate }}</ion-label>
                <ion-label *ngIf="apuntado">{{ 'Muro.Modal.Apuntado!' | translate }}</ion-label>
              </ion-button>
        </ion-col>
      </div>
    </ion-row>

    <ion-segment (ionChange)="segmentChanged($event)" value="verComentarios">
        <ion-segment-button value="verComentarios">
          <ion-label>{{ 'Muro.Modal.Comentarios' | translate }}:{{p.numComents}}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="verAsistentes">
          <ion-label>{{ 'Muro.Modal.Asistentes' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="verCompartir">
          <ion-label>{{ 'Muro.Modal.Compartir' | translate }}</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-row>
      <ion-col>
        <ion-list *ngIf="verComentarios">
          
          <ion-item>
              <ion-icon name="add-circle"></ion-icon>
              <ion-input placeholder="Add comment" [(ngModel)]="commentToAdd" (keyup.enter)="sendComment()"></ion-input>
          </ion-item>

          <ion-item *ngFor="let comment of comments">
            <ion-avatar slot="start"><img src="assets/users/{{comment.user}}.PNG"></ion-avatar>
            <ion-note slot="end">{{comment.hora}}</ion-note>
            <ion-grid>
              <ion-row>
                <ion-label><b>{{comment.user}}</b></ion-label>                      
              </ion-row>
              <ion-row>
                <ion-label text-wrap>{{comment.comment}}</ion-label>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>

        <ion-list *ngIf="verAsistentes">
          <ion-item *ngFor="let assistant of assistants">
            <ion-avatar slot="start"><img src="assets/users/{{assistant.user}}.PNG"></ion-avatar>
            <ion-label><b>{{assistant.user}}</b></ion-label>
            <ion-note slot="end">{{assistant.hora}}</ion-note>
          </ion-item>
        </ion-list>

        <ion-list *ngIf="verCompartir">
          <ion-item *ngFor="let invitado of invitados">
            <ion-avatar slot="start"><img src="assets/users/{{invitado.user}}.PNG"></ion-avatar>
            <ion-label><b>{{invitado.user}}</b></ion-label>                  
            <ion-button size="small" *ngIf="!invitado.invitado" color="primary" (click)="invitar(invitado)">{{ 'Muro.Modal.Invitar' | translate }}</ion-button>
            <ion-button size="small" *ngIf="invitado.invitado" color="tertiary" (click)="invitar(invitado)">{{ 'Muro.Modal.Invitado' | translate }}</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
