<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'Menu.Perfil' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <div align="center">
      <h1> {{ 'Menu.Perfil' | translate}}</h1>
      <img class="profile-image" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        <h4>Álvaro Gironés García</h4>
        <h5>27 years old</h5>
        <p>gg52@alu.ua.es</p>
    </div>
</form>

</ion-content>
